/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-color: #b4f2e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
 }
 div {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 0px;
     
 }

 h1{
     background-cuolor: rgb(247, 255, 220);
     padding: 25px;
     border-radius: 20px;
     color:purple
     
 } */